#container {
    position: relative;
    height: 545px;
    width: 400px;
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
    box-shadow: 5px 10px black;
}

#display {
    position: relative;
    top: 20px;
    margin: 20px;
    padding: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: 62px;
    direction: ltr;
    text-align: right;
    box-shadow: 5px, 150px black inset;
    background-color: rgb(188, 255, 255);
    border-radius: 10px;
}

#buttonArea {
    display: grid;
    gap: 1px;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);   
}

button {
    cursor: pointer;
    border: none;
    height: 75px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
}

button:hover {
    font-size: 37px;
}
.negativePositivePosition {
    grid-column: 1 / span 2;
    grid-row: 1;

    border-top-left-radius: 10px;
}

.clearPosition {
    grid-column: 3 / span 2;
    grid-row: 1;

    border-top-right-radius: 10px;
}

.addPosition {
    grid-column: 4;
    grid-row: 2;
}

.subtractPosition {
    grid-column: 4;
    grid-row: 3;
}

.multiplyPosition {
    grid-column: 4;
    grid-row: 4;
}

.dividePosition {
    grid-column: 4;
    grid-row: 5;

    border-bottom-right-radius: 10px;
}

.calculatePosition {
    grid-column: 3;
    grid-row: 5;
}

.zero {
    border-bottom-left-radius: 10px;
}
.numberButtons {
    background-color: lightgray;
}

.numberButtons:hover {
    background-color: rgb(196, 196, 196);
}

.operatorButtons {
    background-color: darkgray;
}

.operatorButtons:hover {
    background-color: rgb(162, 162, 162);
}

.clearButton {
    background-color: crimson;
}

.clearButton:hover {
    background-color: rgb(204, 19, 56);
}
.calculateButton {
    background-color: rgb(148, 148, 148);
}

.calculateButton:hover {
    background-color: rgb(141, 141, 141);
}